* {
  padding: 0;
  margin: 0;
  box-sizing : border-box;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
  background: #202225;
  font-family: Roboto, sans-serif;
}

p, small, label, h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

.page {
  position: relative;
  height: calc(100% - 25px);
}

.progress {
  height: 10px;
  width: 60px;
  color: #fff;
  background: #18191c;
}

.progress .inner {
  height: 10px;
  background: #787676;
}

.shake {
  animation: 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal both running shake;
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.spinning {
  animation: 1.5s ease-in-out 0s infinite normal both running spinning;
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.vibrate {
  animation: 0.5s linear 0s infinite normal both running vibrate;
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 1px);
    transform: translate(-2px, 1px);
  }
  40% {
    -webkit-transform: translate(-2px, -1px);
    transform: translate(-2px, -1px);
  }
  60% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
  }
  80% {
    -webkit-transform: translate(2px, -1px);
    transform: translate(2px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.rotate {
  animation: 0.6s ease-in-out 0s 1 normal both running rotate;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
.captcha-slider {
  width: 100%;
  height: 34px;
  background: #c7493a;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.captcha-slider::-webkit-slider-thumb {
  background: #a33327;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 34px;
  width: 34px;
}
*/

.captcha-slider {
  width: 100%;
  height: 34px;
  background: #c7493a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.captcha-slider .thumb-area {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.captcha-slider .thumb {
  width: 34px;
  height: 34px;
  background: #a33327;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.captcha-slider .thumb img {
  height: 16px;
  -webkit-user-drag: none;
  user-drag: none;
}

.captcha-slider label {
  position: absolute;
  opacity: 0.7;
  font-weight: 600;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}

input, button, textarea, :focus {
  outline: none;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #18191c;
}

::-webkit-scrollbar-thumb:hover {
  background: #141417;
}