.capture {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.capture > .background {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background: #171717;
  position: fixed;
}

.capture > .container {
  height: 350px;
  width: 550px;
  background: #202225;
  position: relative;
}

.capture > .container > .top, .capture > .container > .bottom {
  width: 100%;
  height: 50%;
}

.capture > .container .button {
  width: 50%;
  height: 100%;
  float: left;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.capture > .container .button:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.capture > .container .button:hover, .capture > .container > .bottom:hover {
  background: #303134;
}

.capture > .container .button img {
  width: 40px;
}

.capture > .container .button h4 {
  position: relative;
  top: 10px;
}

.capture > .container .button .fullscreen {
  width: 35px;
}

.capture > .container > .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.capture > .container > .bottom > button {
  outline: none;
  border: none;
  background: #c7493a;
  padding: 5px 10px;
  position: relative;
  top: 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.capture > .container > .bottom img {
  width: 60px;
}