.email-verification {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-verification > .container {
  width: 420px;
  background: #171717;
  border-top: 5px solid #a33327;
  color: #fff;
  padding-bottom: 20px;
}

.email-verification > .container > .title {
  display: flex;
  padding: 20px 20px 0px;
  font-weight: 600;
}

.email-verification > .container > .title > img {
  height: 18px;
  margin-right: 5px;
}

.email-verification > .container > .body {
  padding: 4px 20px 9px 20px;
  font-size: 0.9rem;
}

.email-verification > .container > .submit {
  width: 140px;
  padding: 0 0 0 20px;
}

.email-verification > .container > .submit > input[type=submit] {
  position: relative;
  width: calc(100% - 34px);
  height: 28px;
  background: #c7493a;
  border: none;
  color: #fff;
  outline: none;
  float: left;
  cursor: pointer;
}

.email-verification > .container > .submit > .caption {
  position: relative;
  width: 28px;
  background: #a33327;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-verification > .container > .submit > .caption img {
  width: 12px;
}