.forgotpassword {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forgotpassword > .square {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  height: 100%;
}

.forgotpassword > .container {
  width: 340px;
  left: 0;
  animation: 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0s 1 normal both running goIn;
}

@keyframes goIn {
  0% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.forgotpassword > .container > .header {
  padding: 25px 25px 15px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.forgotpassword > .container > .header > .divider {
  height: 2px;
  width: 100px;
  background: #343434;
  margin-top: 2px;
}

.forgotpassword .content input[type=text], .forgotpassword .content input[type=password] {
  background: #343434;
  outline: none;
  border: none;
  color: #fff;
  height: 30px;
  width: 100%;
  padding: 7px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border: 1px solid #18191c;
}

.forgotpassword .content input[type=text]:focus, .forgotpassword .content input[type=password]:focus {
  border: 1px solid #c7493a;
}

.forgotpassword .content label {
  font-size: 0.9rem;
}

.forgotpassword .content .group, .forgotpassword .content .link, .forgotpassword .content .error {
  padding: 0 20px;
}

.forgotpassword .content .group:not(:first-child) {
  margin-top: 10px;
}

.forgotpassword .content .link {
  position: relative;
  height: 16px;
  font-weight: 600;
  top: 10px;
}

.forgotpassword .content .link small {
  cursor: pointer;
  float: left;
}

.forgotpassword .content .link small:not(:first-child) {
  float: right;
}

.forgotpassword .content > .submit {
  position: relative;
  top: 20px;
  width: calc(100% - 40px);
}

.forgotpassword .content input[type=submit] {
  position: relative;
  width: calc(100% - 34px);
  height: 34px;
  left: 20px;
  background: #c7493a;
  border: none;
  color: #fff;
  font-weight: 900;
  outline: none;
  float: left;
  cursor: pointer;
}

.forgotpassword .content > .submit > .caption {
  position: relative;
  width: 34px;
  right: -20px;
  background: #a33327;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgotpassword .content > .submit > .caption img {
  width: 15px;
}

.forgotpassword .content > .error > .content {
  background: rgba(244, 67, 54, 0.3);
  font-size: 0.8rem;
  color: #fff;
  padding: 6px;
  border-left: 3px solid #a33327;
}

.forgotpassword .content > .error > .content > img {
  float: left;
  height: 0.9rem;
  margin-right: 4px;
}