.login {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.login > .square {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  height: 100%;
}

.login > .form, .login > .tos, .login > .mode {
  height: 100%;
  width: 100%;
  display: flex;
}

.login > .tos {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  overflow: hidden;
}

.login > .tos > .container {
  background: #202225;
  width: 450px;
  height: 350px;
  overflow-y: auto;
  padding: 15px 15px;
  margin-top: 10px;
  font-size: 0.9rem;
}

.login > .tos > .button {
  width: 450px;
}

.login > .tos > .button input[type=submit] {
  position: relative;
  width: calc(100% - 34px);
  height: 34px;
  background: #c7493a;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  outline: none;
  float: left;
  cursor: pointer;
}

.login > .tos > .button .caption {
  position: relative;
  width: 34px;
  background: #a33327;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login > .tos > .button .caption img {
  width: 15px;
}

.login > .tos > .link {
  position: relative;
  right: 17px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login > .tos > .link .box {
  cursor: pointer;
}

.login > .tos > .link small {
  cursor: pointer;
  color: #828282;
}

.login > .mode {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  overflow: hidden;
}

.login > .mode > .grid {
  margin-top: 20px;
}

.login > .mode > .grid > .cell {
  /* background: #202225; */
  position: relative;
  width: 250px;
  height: 150px;
  float: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #202225;
}

.login > .mode > .grid > .cell:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.login > .mode > .grid > .cell.active {
  border: 2px solid #c7493a;
}

.login > .mode > .grid > .cell:first-child {
  margin-right: 25px;
}

.login > .mode > .grid > .cell > p {
  z-index: 100;
}

.login > .mode > .grid > .cell > small {
  width: 60%;
  text-align: center;
  z-index: 100;
  font-size: 0.75rem;
}

.login > .mode > .grid > .cell > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-filter: grayscale(100%) blur(1px) brightness(70%);
  filter: grayscale(100%) blur(1px) brightness(70%);
}

.login > .mode > .button {
  width: 200px;
  position: relative;
  top: 20px;
}

.login > .mode > .button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.login > .mode > .button input[type=submit] {
  position: relative;
  width: calc(100% - 34px);
  height: 34px;
  background: #c7493a;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  outline: none;
  float: left;
  cursor: pointer;
}

.login > .mode > .button.disabled input[type=submit] {
  cursor: not-allowed;
}

.login > .mode > .button .caption {
  position: relative;
  width: 34px;
  background: #a33327;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login > .mode > .button .caption img {
  width: 15px;
}

.login > .form > .left {
  position: relative;
  height: 100%;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
}

.login > .form > .left > img {
  position: absolute;
  height: 320px;
  right: 65px;
}

.login > .form > .right {
  position: relative;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.login > .form > .right > .container {
  position: absolute;
  width: 340px;
  left: 0;
  animation: 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0s 1 normal both running goIn;
}

@keyframes goIn {
  0% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.login > .form > .right > .container > .header {
  padding: 25px 25px 15px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login > .form > .right > .container > .header > .divider {
  height: 2px;
  width: 100px;
  background: #343434;
  margin-top: 2px;
}

.login .content input[type=text], .login .content input[type=password] {
  background: #343434;
  outline: none;
  border: none;
  color: #fff;
  height: 30px;
  width: 100%;
  padding: 7px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border: 1px solid #18191c;
}

.login .content input[type=text]:focus, .login .content input[type=password]:focus {
  border: 1px solid #c7493a;
}

.login .content input[type=password] {
  padding-right: 60px;
}

.login .content label {
  font-size: 0.9rem;
}

.login .content .group {
  position: relative;
}

.login .content .group .over {
  position: absolute;
  bottom: 7px;
  right: 27px;
  font-size: 0.8rem;
  color: #828282;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 600;
}

.login .content .group, .login .content .link, .login .content .error {
  padding: 0 20px;
}

.login .content .group:not(:first-child) {
  margin-top: 10px;
}

.login .content .link {
  position: relative;
  width: 100%;
  height: 28px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .content .link .box {
  cursor: pointer;
}

.login .content .link small {
  cursor: pointer;
  color: #828282;
}

.login .content > .submit {
  position: relative;
  top: 10px;
  width: calc(100% - 40px);
}

.login .content input[type=submit] {
  position: relative;
  width: calc(100% - 34px);
  height: 34px;
  left: 20px;
  background: #c7493a;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  outline: none;
  float: left;
  cursor: pointer;
}

.login .content > .submit > .caption {
  position: relative;
  width: 34px;
  right: -20px;
  background: #a33327;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .content > .submit > .caption img {
  width: 15px;
}

.login .content > .error > .content {
  background: rgba(244, 67, 54, 0.3);
  font-size: 0.8rem;
  color: #fff;
  padding: 6px;
  border-left: 3px solid #a33327;
}

.login .content > .error > .content > img {
  float: left;
  height: 0.9rem;
  margin-right: 4px;
}