.footer-version {
  position: fixed;
  left: 5px;
  bottom: 3px;
  color: #5f5e5e;
  font-size: 0.7rem;
  z-index: 1000;
}

.footer-version > .latest {
  cursor: pointer;
}

.footer-version > .update-check > img {
  position: relative;
  height: 8px;
  left: 3px;
}

/* <input type="submit" className="button" value="Update" /> */
.footer-version > .update-available > .button {
  position: relative;
  height: 15px;
  width: 50px;
  background: #259d58;
  border: 1px solid #155239;
  outline: none;
  color: #155239;
  font-size: 0.7rem;
  font-weight: 700;
  left: 5px;
  top: 1px;
}

.footer-version > .update-available > div {
  position: relative;
  left: 3px;
  color: #155239;
  font-weight: 700;
  cursor: pointer;
  float: right;
}

.footer-version > .update-downloading .progress {
  background: #343434;
}

.footer-version > .update-downloading .inner {
  background: #259d58;
}