.window {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.window > .background {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background: #171717;
  position: fixed;
}

.window > .grid {
  height: 350px;
  width: 500px;
  background: #202225;
  position: relative;
  overflow-y: auto;
}

.window > .grid > .cell {
  height: 50%;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.2s;
}

.window > .grid > .cell:hover {
  background: #303134;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.window > .grid > .cell:nth-child(odd) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.window > .grid > .cell {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.window > .grid > .cell > img {
  position: relative;
  top: 5px;
}

.window > .grid > .cell > small {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  text-align: center;
}