* {
  padding: 0;
  margin: 0;
  box-sizing : border-box;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
  background: #202225;
  font-family: Roboto, sans-serif;
}

p, small, label, h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

label {
  font-size: 95%;
}

.page {
  height: calc(100% - 25px);
}

/*
  GENERAL
*/
.progress {
  height: 10px;
  width: 60px;
  color: #fff;
  background: #18191c;
}

.progress .inner {
  height: 10px;
  background: #787676;
}

.container {
  min-width: 320px;
}

form > .group > label {
  display: block;
}

form > .group:not(:first-child) {
  margin-top: 10px;
}

input[type=text] {
  display: block;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 32px;
  background: #18191c;
  font-size: 14px;
  color: #fff;
  padding: 0 12px;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #18191c;
}

input[type=text]:focus, input[type=submit]:focus, textarea:focus {
  border: 1px solid #ea5959;
}

input[type=submit] {
  display: block;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 32px;
  background: #ea5959;
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
  font-size: 14px;
  color: #fff;
  outline: none;
  border-radius: 4px;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

.spacer-1 {
  max-width: 8.33%;
  float: left;
}

.spacer-2 {
  max-width: 16.66%;
  float: left;
}

.spacer-4 {
  max-width: 33.33%;
  float: left;
}

.spacer-6 {
  max-width: 50%;
  float: left;
}

/*
  LOAD
*/
.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading img {
  height: 100px;
  animation: move-up-down 1s infinite;
  transform-origin: center center;
}

@keyframes move-up-down {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.loading > .progress {
  margin-top: 15px;
}

/*
  Toolbar
*/
.toolbar {
  height: 25px;
  display: flex;
  align-items: center; 
}

.toolbar.background {
  background: #18191c;
}

.toolbar .drag {
  height: 100%;
  width: calc(100% - 90px);
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
}

.toolbar .icon {
  position: relative;
  height: 16px;
  left: 5px;
}

.toolbar .text {
  position: relative;
  height: 12px;
  left: 10px;
  top: 1px;
}

.toolbar small {
  position: relative;
  left: 13px;
  top: 3px;
  font-size: x-small;
}

.toolbar > .toolset {
  position: absolute;
  right: 0;
}

.toolbar > .toolset > .tool {
  float: left;
  width: 30px;
  height: 25px;
	border: 0;
	outline: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar > .toolset > .tool:hover {
  background: rgba(255,255,255,.1);
}

.toolbar > .toolset > .tool.close:hover {
	background: #e81123;
}

.toolbar > .toolset > .tool > svg path, 
.toolbar > .toolset > .tool > svg rect, 
.toolbar > .toolset > .tool > svg polygon {
	fill: #fff;
}
.toolbar > .toolset > .tool > svg {
  color: #fff;
  width: 10px;
  height: 10px;
}

/*
  LOGIN
*/
.login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login > .container > .header {
  text-align: center;
}

.login > .container > form {
  margin-top: 20px;
}

.login > .container > form > small {
  cursor: pointer;
}

.login > .container > form input {
  width: 320px;
}

.login > .container > form input[type=submit] {
  margin-top: 15px;
}

.login > .container > form > .group > label {
  margin-bottom: 3px;
}

