* {
  padding: 0;
  margin: 0;
  box-sizing : border-box;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
  background: #202225;
  font-family: Roboto, sans-serif;
}

p, small, label, h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

label {
  font-size: 95%;
}

.page {
  height: calc(100% - 25px);
}

/*
  GENERAL
*/
.progress {
  height: 10px;
  width: 60px;
  color: #fff;
  background: #18191c;
}

.progress .inner {
  height: 10px;
  background: #787676;
}

.container {
  min-width: 320px;
}

form > .group > label {
  display: block;
}

form > .group:not(:first-child) {
  margin-top: 10px;
}

input[type=text], input[type=password] {
  display: block;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 32px;
  background: #18191c;
  font-size: 14px;
  color: #fff;
  padding: 0 12px;
}

input[type=text], input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #18191c;
}

input[type=text]:focus, input[type=password]:focus, input[type=submit]:focus, textarea:focus {
  border: 1px solid #ea5959;
}

input[type=submit] {
  display: block;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 32px;
  background: #eb6123;
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
  font-size: 14px;
  color: #fff;
  outline: none;
  border-radius: 4px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  cursor: pointer;
}

input[type=submit]:hover {
  background: linear-gradient( #eb6123, #eb6123);
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.bounceInDown {
  animation: 1.1s ease 0s 1 normal both running bounceInDown;
}

.wobble {
  animation: 0.8s ease 0s infinite normal both running wobble;
}

.beat {
  animation: 1.5s ease-in-out 0s infinite normal both running beat;
}

.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes beat {
  0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.spacer-1 {
  max-width: 8.33%;
  float: left;
}

.spacer-2 {
  max-width: 16.66%;
  float: left;
}

.spacer-4 {
  max-width: 33.33%;
  float: left;
}

.spacer-6 {
  max-width: 50%;
  float: left;
}

/*
  LOAD
*/
.loading {
  height: 100%;
  width: 100%;
  background: #202225;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading img {
  height: 100px;
  animation: move-up-down 1s infinite;
  transform-origin: center center;
}

@keyframes move-up-down {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.loading > .progress {
  margin-top: 15px;
}

/*
  Toolbar
*/
.toolbar {
  height: 25px;
  display: flex;
  align-items: center; 
}

.toolbar.background {
  background: #18191c;
}

.toolbar .drag {
  height: 100%;
  width: calc(100% - 90px);
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
}

.toolbar .icon {
  position: relative;
  height: 16px;
  left: 5px;
}

.toolbar .text {
  position: relative;
  height: 12px;
  left: 10px;
  top: 1px;
}

.toolbar small {
  position: relative;
  left: 13px;
  top: 3px;
  font-size: x-small;
}

.toolbar > .toolset {
  position: absolute;
  right: 0;
}

.toolbar > .toolset > .tool {
  float: left;
  width: 30px;
  height: 25px;
	border: 0;
	outline: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar > .toolset > .tool:hover {
  background: rgba(255,255,255,.1);
}

.toolbar > .toolset > .tool.close:hover {
	background: #e81123;
}

.toolbar > .toolset > .tool > svg path, 
.toolbar > .toolset > .tool > svg rect, 
.toolbar > .toolset > .tool > svg polygon {
	fill: #fff;
}
.toolbar > .toolset > .tool > svg {
  color: #fff;
  width: 10px;
  height: 10px;
}

/*
  LOGIN, REGISTER
*/
.main-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-form > .container > .header {
  text-align: center;
}

.main-form > .container > form {
  margin-top: 20px;
}

.main-form > .container > form > small {
  cursor: pointer;
}

.main-form > .container > form > small:nth-of-type(2) {
  float: right;
}

.main-form > .container > form input {
  width: 320px;
}

.main-form > .container > form input[type=submit] {
  margin-top: 15px;
}

.main-form > .container > form > .group > label {
  margin-bottom: 3px;
}

.main-form > .container > form > .group > small {
  color: #C62828;
  font-weight: 500;
}

.main-form > .container > form > .group > .progress {
  margin-top: 4px;
  width: 100%;
  height: 8px;
}

.main-form > .container > form > .group > .progress > .inner {
  height: 8px;
}

.main-form > .container > form > .group > .meter-text {
  display: block;
  font-size: 10px;
  font-weight: 700;
}

.main-form > .container > .header > p {
  font-size: 0.95em;
}